* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.navBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

span {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.nav {
    height: 70px;
    background-color: rgb(36, 37, 38, 0.95);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    z-index: 2;
}

button {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(165, 9, 5);
    border-image: initial;
    transition: all 0.5s ease 0s;
    margin-right: 30px;
}

button:hover {
    background-color: rgb(165, 9, 5);
}

.navBar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Merriweather Sans', sans-serif;
}

.navBar a:hover {
    color: #f1f1f1;
}

.navBar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

li {
    display: inline;
}

.navButton {
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    transition: all 0.5s ease;
    font-family: 'Merriweather Sans', sans-serif;
}

.navButton:hover {
    color: rgb(165, 9, 5);
}

@media only screen and (min-width: 479px) {
    .navButton {
        display: inline;
    }

    span {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .navButton {
        display: none;
    }

    span {
        display: block;
    }
}

.home-1 {
    min-height: 100vh;
    position: relative;
    margin: 0;
}

.vidio {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 70%;
    z-index: -1;
}

.home-2 {
    min-height: 150vh;
    position: relative;
    background: linear-gradient(to top, #303032, #303032);
}

.last-news {
    font-weight: 400;
    line-height: 1.05;
    text-transform: uppercase;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
    color: #D2C8AE;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-size: 3em;
}

a {
    text-decoration: none;
}

.home-3 {
    min-height: 100vh;
    position: relative;
    background: linear-gradient(to top, #303032, #303032);
}

.block-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 80%;
}

.news {
    margin-top: 20px;
    max-width: 30%;
    height: auto;
    --color-content-600: #878582;
    transition: 1s;
    background-color: rgba(36, 37, 38, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.66), inset 0 0 10px rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .news {
        max-width: 45%;
    }
}

@media only screen and (max-width: 480px) {
    .news {
        max-width: 90%;
    }
}

.news:hover {
    transform: scale(1.1);
}

.image-news {
    width: 100%;
    height: auto;
}

.news-text {
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
    color: #B0AFAC;
    font-size: calc(12px + 8 * (100vw - 320px) / 880);
    margin: 0;
    padding: 20px;
}

footer {
    min-height: 100vh;
    position: relative;
    background: linear-gradient(to top, #000000, #303032);
}

h1 {
    font-weight: 400;
    line-height: 1.05;
    text-transform: uppercase;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
    color: #D2C8AE;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-size: 3em;
    text-align: center;
}

p {
    font-weight: 400;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
    color: #B0AFAC;
    line-height: 30px;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.slide {
    max-width: 30%;
    max-height: 50vh;
    box-sizing: border-box;
    margin-top: 10px;
    padding-left: 10px;
}

.scrine {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    .slide {
        max-width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    .slide {
        max-width: 90%;
    }
}

.contact {
    margin-top: 50px;
    text-align: center;
}

.social {
    height: 50px;
    width: 50px;
    margin: 20px;
    border: 3px solid #B0AFAC;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.4s ease;
}

.social:hover {
    border: 3px solid rgb(165, 9, 5);
}

.how {
    padding-top: 200px;
}
