* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.navBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

span {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.nav {
    height: 70px;
    background-color: rgb(36, 37, 38, 0.95);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    z-index: 2;
}

button {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(165, 9, 5);
    border-image: initial;
    transition: all 0.5s ease 0s;
    margin-right: 30px;
}

button:hover {
    background-color: rgb(165, 9, 5);
}

.navBar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Merriweather Sans', sans-serif;
}

.navBar a:hover {
    color: #f1f1f1;
}

.navBar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

li {
    display: inline;
}

.navButton {
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    transition: all 0.5s ease;
    font-family: 'Merriweather Sans', sans-serif;
}

.navButton:hover {
    color: rgb(165, 9, 5);
}

@media only screen and (min-width: 479px) {
    .navButton {
        display: inline;
    }

    span {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .navButton {
        display: none;
    }

    span {
        display: block;
    }
}
.news{
    min-height: 100vh;
    position: relative;
    margin: 0;
    background: linear-gradient(to top, #303032, rgb(165, 9, 5));
    padding:15px

}
h1{
    font-weight: 400;
    line-height: 1.05;
    text-transform: uppercase;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
    color: #D2C8AE;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-size: 3em;
    text-align: center;
}
.block-news{
    margin-top: 40px;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    background-color: rgb(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right:auto;
    border-radius: 10px;
    padding: 10px;
}
img{
    border-radius: 10px;
    display: inline-block;
    width: 400px;
    height: 200px;
}
footer{
    min-height: 100vh;
    position: relative;
    background: linear-gradient(to top, #000000, #303032);
    text-align: center;

}
.contact{
    margin-top: 50px;
    text-align: center;
}
.social{
    height: 50px;
    width: 50px;
    margin: 20px;
    border: 3px solid #B0AFAC;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.4s ease;
}
.social:hover{
    border: 3px solid rgb(165, 9, 5);
}
.how{
    padding-top: 200px;
}
h2{
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.7;
    line-height: 1.4;
    margin-left: 10px;
    color: #f7ebcb;
    font-weight: 400;
   
}
p{
   margin-top: 10px;
   margin-left: 10px;
   color: #a9a28f;
   font-family: Open Sans,Helvetica,Arial,sans-serif;
}
.news-content{
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .block-news {
        display: inline-block;
    }
    img{
        width: 100%;
        height: 50%;
        text-align: center;
    }
}
